{% extends "base.html" %}

{% block body %}
<div class="fluid-container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center">Movie Sentiment</h1>
            <h2 class="text-center">Rogue One: A Star Wars Story (2016)</h2>
            <img src="https://resizing.flixster.com/ON0EiqZgAS3hp0wD_pVFnv6roGU=/206x305/v1.bTsxMjIzNzIxOTtwOzE3MjQxOzEyMDA7NzIwOzEwNjU" class="img-responsive center-block">
            <form method="post" action="" class="form-horizontal">
                {{ form.csrf_token }}
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-1">
                        {{ form.sentiment(class="form-control", rows="3", placeholder="Sentiment") }}
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
            </form>
            {% for d in data %}
            {% if d.pred is equalto 0 %}
                {% set cls = "danger" %}
            {% else %}
                {% set cls = "success" %}
            {% endif %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-{{cls}}">
                    {{ d.sentiment }}
                    <a href="{{url_for('delete_sentiment', idx=d.id)}}">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
